return {
  ["workshop-2798599672"] = { enabled = true, configuration_options = {} },
  ["workshop-374550642"] = { enabled = true, configuration_options = {} },
  ["workshop-1207269058"] = { enabled = true, configuration_options = {} },
  ["workshop-2477889104"] = { enabled = true, configuration_options = {} },
  ["workshop-378160973"] = { enabled = true, configuration_options = {} },
  ["workshop-351325790"] = { enabled = true, configuration_options = {} },
  ["workshop-362175979"] = { enabled = true, configuration_options = {} },
  ["workshop-597417408"] = { enabled = true, configuration_options = {} },
  ["workshop-569043634"] = { enabled = true, configuration_options = {} },
  ["workshop-2189004162"] = { enabled = true, configuration_options = {} },
  ["workshop-1852257480"] = { enabled = true, configuration_options = {} },
}
